/* Slider Container */
.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 10px;
    background-color: rgb(238, 238, 247);
  }
  
  /* Slider Image */
  .slider-image {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease;
  }
  
  /* Buttons (Previous and Next) */
  .slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button,
  .next-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  