*{
  margin : initial;
  padding: initial;
  font-family:'Arial';
}

nav{
  background-color:#004aad;
  color:white;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.brandname{
  font-size: 50px;
  font-style: oblique;
  margin-right: 50%;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center; /* Align items inside the ul horizontally */
}

li{
  margin-left: 30%;
}

.icon:hover{
  color: #ffd000;
  transform: scale(1.5);
}

.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  justify-content: space-between;
  margin: 20px auto;
  text-align: center;
}

h3{
  margin: 5px;
}

.img-card{
  background-color:fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 0 #92bae8;
  margin-bottom: 30px;
  max-width: 250px;
  padding: 5px;
}

img{
  display: inline;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.btn {
  width: 200px;
  margin: 10px;
  background-color: #ffd000;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd000;
  border-radius: 50px;
  height: 30px;
  font-size: small;
  text-align: middle;
  cursor: pointer;
}
